<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.НотариусConnectionString"
            connectionString="Data Source=DESKTOP-MN5J9PP\SQLEXPRESS;Initial Catalog=Нотариус;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.НотариусConnectionString1"
            connectionString="Data Source=345A-010\SQLEXPRESS;Initial Catalog=Нотариус;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.НотариусУслуги"
            connectionString="Data Source=335-09\SQLEXPRESS;Initial Catalog=Нотариус;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>